:root {
  --color-gray: #1d3557;
  --color-background: #ffffffaa;

  /* session Colors */
  /* NOTE: these colors (not replicated) also used in /scripts/background/values.js.
  When updating these, update there too */
  --color-session-work: #0197f6;
  --color-session-break: #70b77e;

  --color-current-session: var(--color-session-work);
}

body {
  background-color: var(--color-background);
  color: var(--color-gray);
  padding: 1rem;

  width: 250px;
  height: 320px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 
---------------------------------------------------------------------------------------------------------------------------------
USED GLOBALLY -------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------
*/
#settingsPageButton {
  position: absolute;
  bottom: 6px;
  right: 10px;
  z-index: 1;
}

/* 
---------------------------------------------------------------------------------------------------------------------------------
TIMER SETTINGS -------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------
*/
#settingsForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.checkbox {
  -ms-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
  padding: 10px;
  accent-color: #0962cd;
  cursor: pointer;
}

.checkbox-container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

/* 
---------------------------------------------------------------------------------------------------------------------------------
TIMER CIRCLE DRAWING ------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------
*/
.circle-container-outer {
  top: 25px; /* Adjust the position as needed */
  position: relative;
}

.circle-container-inner {
  width: 166px;
  height: 166px;
}

#partialCircle {
  transform-origin: center;
  position: relative;
  stroke: var(--color-session-work);
  stroke-width: 3px;
  fill: transparent;
  stroke-linecap: round;
}

#partialCircleBackground {
  position: relative;
  opacity: 0.3;
  stroke: var(--color-gray);
  stroke-width: 3px;
  fill: transparent;
  stroke-linecap: round;
}

/* 
---------------------------------------------------------------------------------------------------------------------------------
TIMER TEXT BELOW CIRCLE --------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------
*/
.text-container {
  position: relative;
  top: calc(50% - 80px); /* Adjust the position as needed */
  left: 25%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* Adjust the margin as needed */
}

.text-session-container {
  display: flex;
  flex-direction: rows;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

#sessionLabel {
  font-size: 1rem;
  margin-bottom: -5px;
  margin-top: 5px;
}

#sessionTimeLeft {
  font-size: 2.5rem;
  color: var(--color-current-session);
}

#sessionCurrentRound {
  font-size: 14px;
  margin-bottom: 2px;
}

/* 
---------------------------------------------------------------------------------------------------------------------------------
TIMER BUTTONS -------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------
*/
.timer-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
  gap: 10px;
}

/* Control Buttons */
#timerSoftResetButton {
  width: 40px;
  /* height: 40px; */
  /* border: solid; */
  text-align: right;
}

#timerSkipButton {
  width: 40px;
  /* height: 40px; */
  /* border: solid; */
  margin-left: -2px;
  text-align: left;
}

/* Bottom left && right */
#timerHardResetButton {
  position: absolute;
  bottom: 6px;
  left: 10px;
}
